*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Header_box{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    background-color: rgb(226, 226, 226);
    padding-left: 20px;
    padding-right: 20px;
}

.mobile-image-source{
    height: 100px;
}

.hamburger-menu-class{
    display: none;
}

.fa-solid.fa-bars{
    display: none;
}

.nav-section{
    padding: 10px;
    margin: 10px;
}

.hamburger_menu_section{
    display: flex;
    align-self: center;
    justify-content: center;
}

.shopping-cart-ikon-a{
    color: black;
}

nav{
    align-self: center;
}

.fa-solid.fa-cart-shopping{
    align-self: center;
    font-size: 28px;
}

nav a{
    margin: 20px;
    text-decoration: none;
    color: black;
}

.page-headline{
    text-align: center;
}


    /* 
--------------------------------------------------------
HEADER SECTION DONE
--------------------------------------------------------
*/





.section{
    min-height: 100vh;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.formclass{
    display: flex;
    flex-direction: column;
    gap: 20px 20px;
}

.fa-solid{
    margin: 0;
    padding: 0;
    padding-top: 10px;
}

button{
    background-color: green;
    color: white;
    padding: 20px;
    margin: 20px;
}




/* <!------- MEDIA QUERY -----!>  */


@media(max-width: 700px){


    /* 
--------------------------------------------------------
HEADER SECTION 
--------------------------------------------------------
*/

.hamburger-menu-class{
    display: none;
}

.fa-solid.fa-bars{
    display: block;
}

.Header_box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(226, 226, 226);
    padding-left: 20px;
    padding-right: 20px;
}

input{
    display: none;
}

.nav-section{
    padding: 10px;
    margin: 10px;
}


.hamburger_menu_section{
    display: flex;
    align-self: center;
    gap: 15px;
    justify-content: center;
}

.fa-solid.fa-bars{
    font-size: 28px;
}


nav {
    display: none;
}



#hamburger-menu:checked ~ nav {
    display:block;
    position: absolute;
    right: 0%;
    top: 103.5px;
    background-color: rgb(226, 226, 226);
    width: 100%;
    text-align: center;
    z-index: 10;
}

 nav a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 20px;
}

.page-headline{
    text-align: center;
}

/* 
--------------------------------------------------------
HEADER SECTION DONE
--------------------------------------------------------
*/